.pace {
	-webkit-pointer-events: none;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none
}
.pace-inactive {
	display: none
}
.pace .pace-progress {
	background: #00b7c3;
	position: fixed;
	z-index: 2000;
	top: 0;
	right: 100%;
	width: 100%;
	height: 3px
}

@media screen and (max-width:640px) {
* {
	width: 100%;
	padding: 0;
	margin: 0;
}
img {
	width: 100%;
}
 
}
 @media screen and (max-width:414px) {
.img1s {
	width: 80%;
}
.img2s {
	width: 100%;
}
.bottms {
	margin-bottom: 30px;
}
}
.xiaoqi {
	width: 100%;
	height: 200px;
}
body {
	background: rgb(233,233,239);
}
.img2s {
	margin-top: 20px;
}